<div class="evidence-form-container">
  <form [formGroup]="evidenceForm">
    <mat-form-field appearance="outline" class="full-width-field">
      <mat-label>Evidence</mat-label>
      <textarea matInput
                formControlName="text">
      </textarea>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width-field">
      <mat-label>Conclusion</mat-label>
      <textarea matInput
                formControlName="conclusion">
      </textarea>
    </mat-form-field>
    <div class="btn-group">
      <button mat-raised-button
              color="primary"
              [disabled]="evidenceForm.invalid"
              (click)="onEvidenceAdded()">
        Add
      </button>
      <button mat-raised-button
              color="secondary"
              (click)="onCancel()">
        Cancel
      </button>
    </div>
  </form>
</div>
