<div class="evidence-list-container">
  <mat-accordion multi="true" *ngIf="evidenceList">
    <div class="evidence-container">
      <mat-expansion-panel
        *ngFor="let evidence of evidenceList; let index = index"
        class="evidence-list-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Evidence {{index + 1}}
          </mat-panel-title>
          <mat-panel-description>
            {{evidence.text}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p><b>Summary</b></p>
        <p>{{evidence.text}}</p>
        <p><b>Conclusion</b> - How does this evidence support the claim?</p>
        <p>{{evidence.conclusion}}</p>
        <p>
          <b>Sources</b>
          <button mat-mini-fab
                  color="primary"
                  (click)="addSource({evidenceText: evidence.text, evidenceIndex: index})">
            <mat-icon>add</mat-icon>
          </button>
        </p>
        <app-source-list
          [sourceList]="evidence.sources">
        </app-source-list>
        <div class="objection-btn-container">
          <button mat-raised-button
                  color="warn"
                  (click)="addObjection({evidenceText: evidence.text, evidenceIndex: index})">
            Object to Evidence
          </button>
        </div>
        <div class="objections-container"
             *ngIf="evidence.objections">
          <app-objection-list
            [objections]="evidence.objections">
          </app-objection-list>
        </div>
      </mat-expansion-panel>
    </div>
  </mat-accordion>
</div>

